<!doctype html>
<html class="no-js" lang="en-GB">

  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        {{title | safe}}
      {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="/styles/main.min.css?v={% uid %}"/>

    <meta name="theme-color" content="#f00">
  </head>

  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}

  </body>

</html>