---
title: Page not found
description: 
permalink: 404.html
layout: _default.njk
---

{% block main %}

<h1>Error 404: Page Not Found</h1>
<p>Return to the <a href="/">homepage</a>.</p>

{% endblock %}